.contact-main{
    background: rgba(190, 42, 16, 1);
    width:100%;
    height: 100vh;

}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 1);
    height:450px;
    width:90%;
    border-radius: 20px;
    margin: 0px 40px 0px 40px;
    

}
.contact-form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.contact-form-name,.contact-form-email,.contact-form-number,.contact-form-options,.contact-form-btn{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding-left:30px;
}
.contact-form-options, .contact-form-btn{
    width: 430px;
}
.contact-form-btn{
    padding-left: 0px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin: 0px;
}

.contact-main h1{
font-size: 40px;
font-weight: 600;
text-align: left;
padding-left: 40px;
color: white;
}
.contact-main h3{
font-size: 15px;
font-weight: 400;
text-align: left;
padding-left: 40px;
line-height: 5px;
padding-bottom: 10px;
color: white;

}
.contact_map{
    margin-left: 90px;
}
.contact-way-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-way{

}
.contact-way2{
}
.contact-way2 p{
font-size: 12px;
font-weight: 400;
text-align: left;
line-height: 7px;
margin-top: 0px;
}
.contact-way img{
    height: 24px;
width: 24px;
}