.enquiry-form{
    padding: 0px 40px 0px;
}
.enquiry-form h1{
font-size: 40px;
font-weight: 600;
text-align: left;
color: rgba(190, 42, 16, 1);
}
.enquiry-form p{
font-size: 16px;
font-weight: 400;
text-align: left;
width: 80%;
padding-bottom: 20px;
}
.form-up-title,.form-up-fields, .form-middle-title, .form-middle-fields{
display: flex;
justify-content: space-around;
}
.form-up-title label{
font-size: 24px;
font-weight: 500;
padding-bottom: 10px;
}
.form-middle-title label{
font-size: 24px;
font-weight: 400;
padding-bottom: 10px;

}
.form-up-fields select,input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}
.form-middle-fields input{
    width: 500px;
    margin-bottom: 10px;

}
.form-down-up label, .form-down-down label {
font-size: 24px;
font-weight: 400;
}
.form-down-up input, .form-down-down input{
    width: 80%;
    margin-bottom: 10px;

}
