.footer-main{
    background-color: black;
    color: white;
    padding:0px 40px 0px 40px;
}
.footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
}
.company-logo{
    padding-top: 40px;
}
.footer-divs h1{
font-size: 20px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}
.footer-divs p{
font-size: 16px;
font-weight: 400;
text-align: center;
}
.line{
    width: 100%;
    margin-bottom: 10px;
}
.social-media-icons{
    display: flex;
    justify-content: space-around;
}
.social-media-icons img{
    height: 40px;
    width: 40px;
}
.privacy{
    padding-bottom: 20px;
}