.productCard-main{
    height: 350px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;


}
.productCard{
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}
.productCard img{
    height: 280px;
    width: 250px;
    border-radius:10px;
}
.productCard h2{
font-size: 18px;
font-weight: 600;
text-align:center;
color: rgba(190, 42, 16, 1);


}