.productCard-main{
    margin: 0px 40px 0px 40px;
    height: 350px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;


}
.productCard{
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}
.productCard img{
    height: 280px;
    width: 250px;
    border-radius:10px;
}
.productCard p{
    color: black;
}