.testimonialsCard-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1010px;
    height: 400px;
    background-color:white;
    margin:20px 0px  20px 0px;
    margin-left: 100px;
    box-shadow: 1px 3px 10px 1px rgba(190, 42, 16, 1);;
}
.testimonialsCard-left{
}
.testimonialsCard-left img{
    height: 300px;
    width: 250px;
    margin: -60px -20px -20px -20px;
}
.testimonialsCard-left h2{
font-size: 18px;
font-weight: 800;
text-align: right;
padding-top: 20px;
}
.testimonialsCard-left h3{
font-size: 14px;
font-weight: 600;
text-align: right;
line-height: 1px;
}
.testimonialsCard-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -400px;
    color:rgba(190, 42, 16, 1);
}
.testimonialsCard-center h1{
    font-size:200px;
    }
.testimonialsCard-center hr{
    padding:2px;
    background: rgba(190, 42, 16, 1);
    transform: rotate(90deg);
    margin-top: -170px;
width: 280px;
}
.testimonialsCard-right{
    margin:-40px 30px 0px -40px;

}
.testimonialsCard-right h1{
font-size:35px;
font-weight: 700;
width: 60%;
text-align: left;
}
.testimonialsCard-right h2{
font-size: 16px;
font-weight: 500;
text-align: left;
}