.testimonials-main{
    padding: 0px 40px 0px 40px;
}
.testimonials-main h1{
font-size: 32px;
font-weight: 600;
text-align: right;
}
.testimonials-main p{
font-size: 15px;
font-weight: 400;
text-align: right;
}

.slick-dots li button:before{
    font-size: 100px;
    content: '-';
    border-radius: 20px;
    color: rgba(190, 42, 16, 1);

}
